# Python
__pycache__/
*.py[cod]
*.pyc
.env
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp

# Sensitive / Raw Data (DO NOT PUSH RAW PII)
data/raw/
*.xlsx
*.xls
*.tmp
*.log
